@import '/src/css/flex-mixins.scss';
@import '/src/css/typography.scss';
@import '/src/css/colors.scss';

.item-parent-container {
    display: block;
    position: relative;

    border: 1px solid $backgroundBorder;
    &:hover {
        border: 1px solid $backgroundLightBorder;
    }
}

.item-tooltip-container {
    @include flexbox(column);

    width: 280px;

    padding: 0 24px;

    position: absolute;
    left: 50%;
    top: calc(100% + 12px);
    transform: translateX(-50%);
    z-index: 999;

    border: 2px solid $backgroundBorder;
}

.item-name {
    @include header_text;

    background-color: $backgroundLight;
    width: 100%;
    padding: 24px 24px 12px 24px;
    color: $standardText;
    border: 1px solid $backgroundLightBorder;
}

.item-description {
    @include body_text;
    
    background-color: $backgroundDark;
    padding: 12px 24px;
    width: 100%;
}

.item-secondary-description {
    @include body_text;

    color: $textGray;
    padding: 0px 24px 24px 24px;
    width: 100%;
    background-color: $backgroundDark;
}

.item-challenge-container {
    background-color: $backgroundLight;
    padding: 12px 24px 24px 24px;
    width: 100%;
    border: 1px solid $backgroundLightBorder;
}

.item-challenge-name{
    @include header_text;

    color: $standardText;
    margin-bottom: 8px;
}

.item-challenge-description {
    @include body_text;

    color: $standardText;
}
