@import '/src/css/components.scss';
@import '/src/css/typography.scss';
@import '/src/css/colors.scss';

.item-parent-container {
    display: block;
    position: relative;

    border: 2px solid $backgroundBorder;
    &:hover {
        border: 2px solid $backgroundLightBorder;
        cursor: pointer;
    }
}

.item-tooltip-container {
    @include flexbox(column);

    width: 280px;

    padding: 0 24px;

    position: absolute;
    left: 50%;
    top: calc(100% + 12px);
    transform: translateX(-50%);
    z-index: 2;

    border: 2px solid $backgroundBorder;
}

.item-name {
    @include header_text;

    background-color: $backgroundLight;
    width: 100%;
    padding: 24px 24px 12px 24px;
    color: $rorStandard;
    border: 1px solid $backgroundLightBorder;
}

.item-description {
    @include body_text;
    
    background-color: $backgroundDark;
    padding: 12px 24px;
    width: 100%;
}

.item-secondary-description {
    @include body_text;

    color: $rorGray;
    padding: 0px 24px 24px 24px;
    width: 100%;
    background-color: $backgroundDark;
}

.item-challenge-container {
    background-color: $backgroundLight;
    padding: 12px 24px 24px 24px;
    width: 100%;
    border: 1px solid $backgroundLightBorder;
}

.item-challenge-name{
    @include header_text;

    color: $rorStandard;
    margin-bottom: 8px;
}

.item-challenge-description {
    @include body_text;

    color: $rorStandard;
}

// item background colors

@mixin simple-item-display-background($transitionColor) {
    background: $transitionColor;
    background: radial-gradient(circle, $transitionColor 33%, $backgroundBorder 100%);
}

.simple-item-display-white {
    @include simple-item-display-background($rorGray);
}
.simple-item-display-green {
    @include simple-item-display-background($rorDarkerGreen);
}
.simple-item-display-blue {
    @include simple-item-display-background($rorDarkerLunar);
}
.simple-item-display-red {
    @include simple-item-display-background($rorRed);
}
.simple-item-display-yellow {
    @include simple-item-display-background($rorYellow);
}
.simple-item-display-equipment {
    @include simple-item-display-background($rorEquipment);
}
