@import '/src/css/flex-mixins.scss';
@import '/src/css/typography.scss';
@import '/src/css/colors.scss';

.main-body {
    @include flexbox(column);

    margin: 48px;
    padding: 24px;
    background-color: $backgroundDark;
}

.main-body-header-text {
    @include header_text;
    color: $standardText;
}

