@import '/src/css/flex-mixins.scss';
@import '/src/css/typography.scss';
@import '/src/css/colors.scss';

.main-grid {
    @include flexbox(column);

    margin: 64px auto;

    padding: 48px 48px 72px 48px;
    
    width: 60%;
    max-width: 720px;
    background-color: $backgroundDark;
}