@import '/src/css/flex-mixins.scss';
@import '/src/css/typography.scss';
@import '/src/css/colors.scss';

.main-body {
    @include flexbox(column);

    margin: 64px auto;

    padding: 24px 48px;
    
    width: 60%;
    max-width: 720px;
    background-color: $backgroundDark;
}

.main-body-header-text {
    @include header_text;
    color: $standardText;
}

