@import '/src/css/components.scss';
@import '/src/css/typography.scss';
@import '/src/css/colors.scss';

.header-body {
    @include flexbox(row);

    width: 100%;
    height: 84px;
    
    background-color: $backgroundDark;

}

.website-title-text {
    @include title_text;
    color: $rorStandard;
}

