$textRed: rgb(221, 134, 106);
$textYellow: rgb(224, 192, 121);
$textGreen: rgb(142, 210, 98);
$textGray: rgb(117, 126, 143);
$textBlue: rgb(157, 203, 225);
$standardText: rgb(255, 255, 255);

$backgroundDark: rgb(37, 47, 56);
$backgroundBlack: rgb(0, 0, 0);
$backgroundLight: rgb(63, 81, 93);
$backgroundBorder: rgb(82, 97, 112);
$backgroundLightBorder: rgb(124, 129, 134);