$rorRed: rgb(221, 134, 106);
$rorYellow: rgb(224, 192, 121);
$rorGreen: rgb(142, 210, 98);
$rorDarkerGreen: rgb(114, 188, 57);
$rorGray: rgb(117, 126, 143);
$rorLunar: rgb(157, 203, 225);
$rorDarkerLunar: rgb(54, 184, 224);
$rorEquipment: rgb(199, 133, 54);
$rorStandard: rgb(255, 255, 255);

$backgroundDark: rgb(37, 47, 56);
$backgroundBlack: rgb(0, 0, 0);
$backgroundLight: rgb(63, 81, 93);
$backgroundBorder: rgb(82, 97, 112);
$backgroundLightBorder: rgb(124, 129, 134);