@import "/src/css/colors.scss";

html {
    overflow: hidden;
    height: 100%;
}

body {
    overflow: auto;
    height: 100%;
}

.main-app {
    background: $backgroundBlack;

    width: 100%;
    height: 100%;
}