@import '/src/css/components.scss';
@import '/src/css/typography.scss';
@import '/src/css/colors.scss';

.sidebar-container {
    @include flexbox(column);

    position: absolute;

    width: 320px;
    height: 100vh;

    top: 0;
    left: 0;
    z-index: 3;

    background-color: $backgroundLight;
}